.container-fluid{
  padding: 0px;
  margin: 0px;
  background-color: WhiteSmoke;
}

body {
  background-image: url(https://static.pexels.com/photos/167682/pexels-photo-167682.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  margin:0;
  padding:0; 
  position: relative;
  font-family: Georgia, serif;  
  color: DimGray;
}

.main{
  margin-top: 5%;
  margin-bottom: 1%;
  background-color: rgba(250, 128, 114, 0.6);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width:1000px;
  
  padding-bottom: 3%;
  border-style: solid;
  border-width: medium;
}

p {
  font-size: 250%;
  padding: 2%;

  background-color: White;
  margin: 1%
}

button{
  width: 12%;
  padding: 1%;
  margin-right: 7px;
  margin-bottom: 5px;
  font-size: 150%;
  //background-color: White;
  background-color: #ECF1EF;
  color: DimGray;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.equal{
  background-color: #00CDCD;
}

.op {
  background-color: #008B8B;
  color: #ECF1EF;
}

input{
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0.5%;
  padding-right: 2%;
  width: 50%;
  color: black;
  padding-left: 2%;
  font-size: 150%;
  text-align: right;
}

footer{
  color: #ECF1EF;;
  font-size: 150%;
}

.fa-heart{
  color: #CDB7B5;
}

.fa-coffee{
  color: #8B795E;
}
